<div>
  <form (ngSubmit)="onSubmitPerson()" #newPersonForm="ngForm">
    <mat-form-field>
      <input matInput type="text" placeholder="First Name" [(ngModel)]="newPerson.firstName" name="firstName">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Last Name" [(ngModel)]="newPerson.lastName" name="lastName">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Email" [(ngModel)]="newPerson.email" name="email">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </form>
</div>
<form (ngSubmit)="onSubmitAssign()">
  <button mat-raised-button color="primary" type="submit">Assign</button>
</form>
<div>
  <mat-list>
    <mat-list-item *ngFor="let p of participants$ | async">
      {{ p.lastName }}, {{ p.firstName }} - {{ p.email }}
    </mat-list-item>
  </mat-list>
</div>
